.chat-list {
    width: 100%;
    height: calc( 100vh - 190px);
    overflow: hidden;
    overflow-y: scroll;
}
.chat-list__header {
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
}
.chat-list__item {
    padding: 15px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap:20px;


    &-photo {
        width: 68px;
    }
    &-photo img {
        width: 68px;
        border-radius: 8px;
     }
     &-message {
          flex: 1 0 0%;
          height: 100%;
          &-name {
               font-family: Gilroy;
                color: #181d24;
               font-size: 18px;

           }
           &-text {
                color: #536576;
            }
      }
     &-info {
          height: 68px;
          text-align: right;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
     }
    &-info {
         color: #536576;
     }
    &:hover {
         background-color:  var(--gray);
     }
    &-active {
             background-color: var(--gray);
    }
}
.message-new-count {
    padding: 3px 8px;
    background: var(--green);
    border-radius: 30px;
    display: block;
    color: #fff;
    font-size: 12px;
}