.toast {
  background: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  position: fixed;
  top: 15px;
  right: 15px;
  margin-right: -330px;
  z-index: 999;
  display: block;
  transition: all 300ms ease-in-out;
  width: 300px;
}

.toast-open {
  margin-right: 0;
}
