.video-call-wrapper {
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    transition: opacity 0.5s linear;
}
.btn-end-call {
    position: fixed;
    bottom: 100px;
    left: 50%;
    margin-left: -42px;
    z-index: 30;
}
#myVideo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    object-fit: cover;
}
#remoteVideo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    object-fit: cover;
}
.video-call-active #myVideo {
   width: 300px;
   height: 200px;
   top: 30px;
   right: 30px;
   border-radius: 16px;
}
.video-call-incoming .modal {
    z-index: 1000;
    max-width: 300px!important;
}
.video-call-waiting {
    display: none;
}
.video-call-incoming .modal__body {
    flex-direction: row;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}