.dialog {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    &__header {
         flex-direction: row;
         gap: 20px;
         width: 100%;
         margin-bottom: 10px;
         padding-bottom: 30px;
         align-items: center;
         display: flex;
         border-bottom: 1px solid #E4E7E9;

        &-photo img {
            width: 42px;
            border-radius: 8px;
         }
        &-title {
             flex: 1 0;
             font-family: Gilroy;
             font-size: 18px;
         }
     }
     &__body {
          flex: 1 0;
          /*overflow-y:scroll;*/
          overflow: hidden;

            &_empty {
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 flex-direction: column;
             }
            &-message-wrapper {
                width: 100%;
                 margin-bottom: 20px;
                 flex-direction: row;
                 display: flex;

             }
          &-message {
                padding: 10px 20px;
               display: inline-block;

           }

      }
     &__footer {
          flex-direction: row;
          gap: 20px;
          width: 100%;
          margin-top: 10px;
          padding-top: 30px;
          display: flex;
          &-textarea {
               flex: 1 0;
          }
      }
}
.message-r {
    align-items: flex-start;

}
.message-r .dialog__body-message {
    background: #DCF9D2;
    border-radius: 4px 16px 16px 16px;
}
.message-s  {
    align-items: flex-end;

}
.message-s .dialog__body-message {
    background: #EDEFF1;
    border-radius: 16px 16px 4px 16px;
    margin-left: auto;
}